<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action = "@{/newConference}"  method="get">

    <input type="submit"  th:value="#{new.conference}", class="btn btn-success"></input>
</form>
<table border="1" th:title="#{future.conferences}">
    <tr>
    <tr>
        <td th:text="#{title}"></td>
        <td th:text="#{starts.at}"></td>
        <td th:text="#{user.quantity}"></td>
        <td th:text="#{report.quantity}"></td>
        <td th:text="#{options}"></td>
    </tr>
    <tr th:each="container : ${futureConfContainers}">
        <td th:text="${container.getConference().getTitle()}"></td>
        <td th:text="${container.getConference().getStarts_at()}"></td>
        <td th:text="${container.getUsersQuantity()}"></td>
        <td th:text="${container.getReportsQuantity()}" ></td>
        <td>
            <form th:action="@{/detailedConference}" method="get" >
                <input type="hidden" name="conference" th:value="${container.getConference().getId()}">
                <input type="submit" th:value="#{reports.list}", class="btn btn-success"></input>
            </form>
        </td>
    </tr>
</table>

</body>
</html>