<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>My messenger</title>
</head>
<body>
<div id="references">
    <div>
        <a th:href="@{/adminConferences}" th:text="#{my.conferences}"></a>
    </div>

</div>

<h2 th:text="#{admin.page}"></h2>
<form th:action="@{/logout}" method="post">
    <input type="submit" th:value="#{log.out}"></input>
</form>

</body>
</html>