<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table border="1">
    <tr>
        <td th:text="#{title}"></td>
        <td th:text="${conference.getTitle()}"></td>
    </tr>
    <tr>
        <td th:text = "#{starts.at}"></td>
        <td th:text = "${conference.getStarts_at()}"></td>
    </tr>
    <tr>
        <td th:text = #{max.duration}></td>
        <td th:text = ${conference.getMaxDuration()}></td>
    </tr>
</table>
<br>

<p th:text="#{reports.list}"/>

<table border="1" th:title="#{reports}">
    <tr>
        <td th:text="#{title}"></td>
        <td th:text="#{duration}"></td>
        <td th:text="#{speaker}"></td>
    </tr>
    <tr th:each="report : ${conference.getReports()}">
        <td th:text="${report.getTitle()}"></td>
        <td th:text="${report.getReportDuration()}"></td>
        <td> <div th:switch="${report.getSpeaker()}">
            <p th:case="null" th:text="#{free}"></p>
            <p th:case="*" th:text="${report.getSpeaker().getName} ${report.getSpeaker().getSurname}, ${report.getSpeaker().getEmail}"></p></div>
        </td>
    </tr>
</table>
<br>
<form th:action = "@{/registerInConference}"  method="get">
    <input type="submit"  th:value="#{new.conference}", class="btn btn-success"></input>
</form>
</form>
</body>
</html>