<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>My messenger </title>
</head>
<body>
<h2 th:text="#{login.page}"></h2>
<br>
<form th:action="@{/login}" method="post">
  <a th:text="#{email}"/><div><label><input type="text" name="email"></label></div>
  <a th:text="#{password}"/><div><label><input type="password" name="password"> </label></div>
  <div><input type="submit" th:value="#{sign.in}"></div>
</form>
<br>
<a th:href="@{/registration}" th:text="#{registration}"></a>
</body>
</html>