<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="#{add.new.conference}"></h2>
<br>
<form th:action="@{/newConference}" method="post">
    <a th:text="#{title}"/>
    <div>
        <label><input type="text" name="title"> </label>
    </div>
    <br>
    <a th:text="#{starts.at}"/>
    <div>
        <formatDate value="${sighting.sightingDateAsDate}" var="sightingDateString" pattern="yyyy-MM-dd'T'hh:mm:ss"/>
        <label><input type="datetime-local" name="start_at", value="sightingDateString"></label>
    </div>
    <br>
    <a th:text="#{max.duration}"/>
    <div>
        <label><input type="number" name="max_duration"></label>
    </div>
    <br>
    <div><input type="submit" th:value="#{sign.in}"></div>
    </form>
</body>
</html>