<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="#{create.new.report}"/>
<form th:action="@{/newReport}" method="post">
    <a th:text="#{title}"/>
    <div>
        <label><input type="text" name="title"> </label>
    </div>
    <br>
    <a th:text="#{duration}"/>
    <div>
        <label><input type="text" name="duration"></label>
    </div>
    <form th:action="@{/newReport}"  method="post">
        <input type="hidden" name="conference_id" th:value="${conference_id}"></input>
        <input type="submit" th:value="#{create}", class="btn btn-success"></input>
    </form>

</form>
</body>
</html>