<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>My messenger </title>
</head>
<body>
<h2 th:text="#{registration.page}"></h2>
<br>
<form th:action="@{/registration}" method="post">
    <a th:text="#{name}"/>
    <div>
        <label><input type="text" name="name" th:value="${user.name}"> </label>
        <p th:if="${#fields.hasErrors('user.name')}" th:text="#{input.incorrect.name}"></p>
    </div>
    <br>
    <a th:text="#{surname}"/>
    <div>
        <label><input type="text" name="surname" th:value="${user.surname}"></label>
        <p th:if="${#fields.hasErrors('user.surname')}" th:text="#{input.incorrect.surname}"></p>
    </div>
    <br>
    <a th:text="#{email}"/>
    <div>
        <label><input type="text" name="email" th:value="${user.email}"></label>
        <p th:if="${#fields.hasErrors('user.email')}" th:text="#{input.incorrect.email}"></p>
        <p th:if="${uniqueLoginError != null}" th:text="${uniqueLoginError}"></p>
    </div>
    <br>
    <a th:text="#{password}"/>
    <div>
        <label><input type="password" name="password"> </label>
        <p th:if="${#fields.hasErrors('user.password')}" th:text="#{input.incorrect.password}"></p>
    </div>
    <br>
    <a th:text="#{role}"/>
    <select name="role">
        <option th:each="roleOpt : ${T(com.kyrychenkomaksym.messenger.entity.RoleType).values()}"
                th:value="${roleOpt}" th:text="${roleOpt}"></option>
    </select>
    <br>
    <div><input type="submit" th:value="#{sign.in}"></div>
</form>
</body>
</html>