<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="#{speaker.page}"></h2></body>
<form th:action="@{/logout}" method="post">
    <input type="submit" th:value="#{log.out}"></input>
</form>

</html>