<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>My messenger</title>
</head>
<body>
<h2 th:text="#{user.page}"></h2>
<br>
    <div class="pages">
        <a th:href="@{/userConferences}" th:text="#{conferences}"></a>
    </div>
<div class="pages">
    <a th:href="@{/userRegisteredConferences}" th:text="#{my.conferencies}"></a>
</div>
<div class="pages">
    <a th:action="@{/logout}" method="post"></a>
    <input type="submit" th:value="#{log.out}"></input>
</div>

</body>
</html>