<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2 th:text="#{all.planed.conferences}"/>
<table border="1" th:title="#{future.conferences}">
  <tr>
    <td th:text="#{title}"></td>
    <td th:text="#{starts.at}"></td>
    <td th:text="#{user.quantity}"></td>
    <td th:text="#{report.quantity}"></td>
    <td th:text="#{options}"></td>
  </tr>
  <tr th:each="container : ${ConfContainers}">
    <td th:text="${container.getConference().getTitle()}"></td>
    <td th:text="${container.getConference().getStarts_at()}"></td>
    <td th:text="${container.getUsersQuantity()}"></td>
    <td th:text="${container.getReportsQuantity()}" ></td>
    <td>
      <form th:action="@{/registerInConference}" method="post" >
        <input type="hidden" name="conference" th:value="${container.getConference().getId()}">
        <input type="submit" th:value="#{register.in.conference}", class="btn btn-success"></input>
        <p th:if="${errorRepeatLoginRegistration != null}" th:text="#{error.repeat.login.registration}"/>
      </form>
    </td>
  </tr>
</table>

</body>
</html>