<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>My messenger</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<a href="/?lang=ua" th:text="UA"></a>
<a href="/?lang=en" th:text="EN"></a>
<h1 th:text="#{welcome}"></h1>
<br>
<a th:href="@{/registration}" th:text="#{registration}"></a>
<br>
<a th:href="@{/login}" th:text="#{login}"></a>
<br>
<a th:href="@{/admin}" th:text="#{page}"></a>
</body>
</html>